/*todo ==htmledit color==*/
.wysiwyg-color-black{ color: #000;}
.wysiwyg-color-silver{ color: #C0C0C0}
.wysiwyg-color-gray{ color: #808080}
.wysiwyg-color-white{ color: #fff;}
.wysiwyg-color-maroon{ color: #800000}
.wysiwyg-color-red{ color: #FF0000;}
.wysiwyg-color-purple{ color: #800080}
.wysiwyg-color-fuchsia{ color: #008000}
.wysiwyg-color-green{ color: #008000}
.wysiwyg-color-lime{}
.wysiwyg-color-olive{ color: #808000}
.wysiwyg-color-yellow{}
.wysiwyg-color-navy{ color: #000080}
.wysiwyg-color-blue{ color: #0000FF}
.wysiwyg-color-teal{}
.wysiwyg-color-aqua{}
.wysiwyg-color-orange{ color: #FFA500}