<div class="ads-c-6 item"><a
        tool-pick
      tool-type="{{ToolMove}}"
      ng-class="{true:'active',false:'inactive'}[ToolMove==ActiveToolType]"
      href="javascript:;"
        ><i class="ion-arrow-move"></i></a></div>
<div class="ads-c-6 item"><a
        tool-pick
        tool-type="{{ToolCircular}}"
        ng-class="{true:'active',false:'inactive'}[ToolCircular==ActiveToolType]"
        href="javascript:;"
        ><i class="fa fa-circle-thin"></i></a></div>
<div class="ads-c-6 item"><a
        tool-pick
        tool-type="{{ToolSquare}}"
        ng-class="{true:'active',false:'inactive'}[ToolSquare==ActiveToolType]"
        href="javascript:;"
        ><i class="fa fa-square-o"></i></a></div>
<div class="ads-c-6 item"><a
        tool-pick
        tool-type="{{ToolPencil}}"
        ng-class="{true:'active',false:'inactive'}[ToolPencil==ActiveToolType]"
        href="javascript:;" ><i class="ion-android-create"></i></a></div>
<div class="ads-c-6 item"><a
        tool-pick
        tool-type="{{ToolTxt}}"
        ng-class="{true:'active',false:'inactive'}[ToolTxt==ActiveToolType]"
        href="javascript:;" ><i class="glyphicon glyphicon-text-width"></i></a></div>
<div class="ads-c-6 item"><a
        tool-pick
        tool-type="{{ToolImg}}"
        ng-class="{true:'active',false:'inactive'}[ToolImg==ActiveToolType]"
        href="javascript:;" ><i class="ion-images"></i></a></div>
<div class="ads-c-6 item"><a
        tool-pick
        tool-type="{{ToolPugin}}"
        ng-class="{true:'active',false:'inactive'}[ToolPugin==ActiveToolType]"
        href="javascript:;" ><i class="fa fa-puzzle-piece"></i></a></div>
<div class="ads-c-6 item"><a
        tool-pick
        tool-type="{{ToolAudio}}"
        ng-class="{true:'active',false:'inactive'}[ToolAudio==ActiveToolType]"
        href="javascript:;" ><i class="ion-music-note"></i></a></div>
<div class="ads-c-6 item"><a
        tool-pick
        tool-type="{{ToolVedio}}"
        ng-class="{true:'active',false:'inactive'}[ToolVedio==ActiveToolType]"
        href="javascript:;" ><i class="ion-android-film"></i></a></div>
<div class="ads-c-6 item"><a
        tool-pick
        ng-class="{true:'active',false:'inactive'}[ToolZoom==ActiveToolType]"
        tool-type="{{ToolZoom}}"
        href="javascript:;" ><i class="fa fa-search"></i></a></div>
<div class="ads-c-6 item"><a
        tool-pick
        tool-type="{{ToolPickcolor}}"
        ng-class="{true:'active',false:'inactive'}[ToolPickcolor==ActiveToolType]"
        href="javascript:;" ><i class="fa fa-eyedropper"></i></a></div>
<div class="ads-c-6 item"></div>